{
  "arrowParens": "avoid",
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": false,
  "jsxSingleQuote": true,
  "endOfLine": "lf"
}
